<html>
    <head>
        <title>Hystoire de Fou</title>
        <link rel="stylesheet" href="styles.css">
        <script type="module" src="vue-app.mjs"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
        <!-- 
            fonts: Brush (les paragraphes sur la blague des fous qui peignent le plafonds)  
            blackmail/collage : titre de page en haut à droite/gauche
            Garamond : texte normal
            Freestyle Script : titre de paragraphes / Brush Script MT (non payant)
        -->
    </head>
    <body>
        <h1>Hystoire de Fou</h1>
        <h2>Fiche de Personnage intéractive</h2>
        <div id="app" :class="'visible'" class="hidden">
            <!-- affiché avant que l'app soit prête -->
            <h3 v-if="false" class="visible">En cours de chargement...</h3>
            <!-- affichage d'un voile sous les popups -->
            <div :class="hiddenVoile ? 'voile hidden' : 'voile'" @click.prevent.stop="masqueTout"></div>
            <!-- popup d'info -->
            <div :class="'popup '+(hiddenInfos ? 'hidden' : '')">
                <button class="abs-top-right-10" v-on:click="masqueInfos">X</button>
                <div class="contents" v-html="infos"></div>
                <button v-on:click="masqueInfos">Fermer</button>
            </div>
            <button v-if="creationFinie && mode === 'création'" v-on:click="passerEnMode('jeu')">Création de personnage terminée</button>
            <!-- popup ajout compétence (professionnelle, normal ou démentielle) -->
            <div :class="'popup '+(hiddenPopupCompetence ? 'hidden' : '')">
                <button class="abs-top-right-10" v-on:click="masqueTout">X</button>
                <div class="contents">
                    <h3>Nouvelle Compétence {{ nouvelleCompetence.dementielle ? "Démentielle" : ""}}{{ nouvelleCompetence.professionnelle ? "Professionnelle" : ""}}</h3>
                    <div>
                        <label for="nouvelleCompetence.intitule">Intitulé :</label>
                        <input name="nouvelleCompetence.intitule" v-model="nouvelleCompetence.intitule" type="text" class="handwritten">
                        <br/>
                    </div>
                    <div>
                        <label for="nouvelleCompetence.nomCaracteristiqueDirectrice">Caractéristique directrice :</label>
                        <select v-model="nouvelleCompetence.nomCaracteristiqueDirectrice"
                                name="nouvelleCompetence.nomCaracteristiqueDirectrice"
                                v-on:change="nouvelleCompetenceNomCaracteristiqueDirectriceChanged">
                            <option disabled value="">Please select one</option>
                            <option value="charisme">CHARISME</option>
                            <option value="perception">PERCEPTION</option>
                            <option value="constitution">CONSTITUTION</option>
                            <option value="agilite">AGILITE</option>
                            <option value="entendement">Entendement</option>
                        </select>
                        <br/>
                    </div>
                    <div>
                        <label for="nouvelleCompetence.valeurCaracteristiqueDirectrice">Valeur caractéristique directrice :</label>
                        <input name="nouvelleCompetence.valeurCaracteristiqueDirectrice" :value="nouvelleCompetence.valeurCaracteristiqueDirectrice" type="number" min="6" max="15" class="handwritten" readonly="readonly">
                        <br/>
                    </div>

                    <div v-if="!nouvelleCompetence.dementielle&&!nouvelleCompetence.professionnelle">
                        <label for="nouvelleCompetence.base">Base :</label>
                        <input name="nouvelleCompetence.base" v-model="nouvelleCompetence.base" type="number" class="handwritten" min="0" max="1">
                        <br/>
                    </div>
                    <div v-if="!nouvelleCompetence.dementielle && !nouvelleCompetence.professionnelle && perso.pointsDeGeneration>0">
                        <label for="nouvelleCompetence.pointsDeGeneration">Points de Génération :</label>
                        <input name="nouvelleCompetence.pointsDeGeneration" v-model="nouvelleCompetence.pointsDeGeneration" type="number" min="0" max="4" class="handwritten">
                        <br/>
                    </div>
                    <div>
                        <label for="nouvelleCompetence.valeur">Valeur :</label>
                        <input name="nouvelleCompetence.valeur" :value="nouvelleCompetence.valeur" type="number" class="handwritten" readonly="readonly">
                        <br/>
                    </div>
                </div>
                <button v-on:click="valideAjoutCompetence(nouvelleCompetence)">Valider</button>
                <button v-on:click="masqueTout">Annuler</button>
            </div>

            <hdf-bloc-fiche title="Etat Civil">
                <div>
                    <label for="perso.nom">Nom :</label>
                    <input name="perso.nom" v-model="perso.nom" type="text" placeholder="Nom du personnage" :readonly="mode==='jeu'" class="handwritten">
                    <br/>
                </div>
                <div>
                    <label for="perso.profession">Profession :</label>
                    <input name="perso.profession" v-model="perso.profession" type="text" placeholder="Profession du personnage" :readonly="mode==='jeu'" class="handwritten">
                    <br/>
                </div>
                <div>
                    <label for="perso.age">Âge :</label>
                    <input name="perso.age" v-model="perso.age" type="number" min="8" max="100" placeholder="Âge du personnage" :readonly="mode==='jeu'" class="handwritten">ans
                    <br/>
                </div>
                <div>
                    <label for="perso.poids">Poids (kg) :</label>
                    <input name="perso.poids" v-model="perso.poids" type="number" min="40" max="150" placeholder="Poids du personnage" :readonly="mode==='jeu'" class="handwritten">kg
                    <br/>
                </div>
                <div>
                    <label for="perso.tailleCm">Taille (cm) :</label>
                    <input name="perso.tailleCm" v-model="perso.tailleCm" type="number" min="120" max="210" placeholder="Taille du personnage" :readonly="mode==='jeu'" class="handwritten">cm ({{ perso.tailleScore }})
                    <br/>
                </div>
                <div>
                    <label for="perso.bonusAuxDommages">+dom :</label>
                    <input name="perso.bonusAuxDommages" readonly="readonly" :value="perso.bonusAuxDommages">
                    <br/>
                </div>
                <div>
                    <label for="perso.description">Description :</label>
                    <textarea name="perso.description" v-model="perso.description" placeholder="Description du personnage" :readonly="mode==='jeu'" class="handwritten"></textarea>
                    <br/>
                </div>
            </hdf-bloc-fiche>

            <hdf-bloc-fiche title="Santé Mentale">
                <div>
                    <label for="perso.motDeDemence">Mot de Démence :</label>
                    <input name="perso.motDeDemence" v-model="perso.motDeDemence" type="text" placeholder="Mot de démence du personnage" :readonly="mode==='jeu'">
                    <br/>
                </div>
                <div v-if="mode==='jeu'">
                    <label for="perso.tendance">Tendance :</label>
                    <input name="perso.tendance" readonly="readonly" :value="perso.tendance">
                    <br/>
                </div>
                <div v-if="mode==='jeu'">
                    <label for="perso.totalAccomplissement">Total Accomplissement :</label>
                    <input name="perso.totalAccomplissement" v-model="perso.totalAccomplissement" type="number" min="0" class="handwritten">
                    <br/>
                </div>
                <div v-if="mode==='jeu'">
                    <label for="perso.niveauAccomplissement">Niveau Accomplissement :</label>
                    <input name="perso.niveauAccomplissement" readonly="readonly" :value="perso.niveauAccomplissement" type="number">
                    <br/>
                </div>
                <div v-if="mode==='jeu'">
                    <label for="perso.pointsDeCrise">Points de Crise :</label>
                    <input name="perso.pointsDeCrise" v-model="perso.pointsDeCrise" type="number" min="0">
                    <br/>
                </div>
                <div v-if="mode==='jeu'">
                    <label for="perso.chocsParano">Chocs Parano :</label>
                    <input name="perso.chocsParano" v-model="perso.chocsParano" type="number" min="0">
                    <br/>
                </div>
                <div v-if="mode==='jeu'">
                    <label for="perso.chocsSchizo">Chocs Schizo :</label>
                    <input name="perso.chocsSchizo" v-model="perso.chocsSchizo" type="number" min="0">
                    <br/>
                </div>
                <div v-if="mode==='jeu'">
                    <label for="perso.chocsProfonds">Chocs Profonds :</label>
                    <input name="perso.chocsProfonds" v-model="perso.chocsProfonds" type="number" min="0">
                    <br/>
                </div>
            </hdf-bloc-fiche>

            <hdf-bloc-sante :mode="mode" :perso="perso"></hdf-bloc-sante>
            <hdf-bloc-caracteristiques :mode="mode" :perso="perso" v-on:affiche-infos="afficheInfos"></hdf-bloc-caracteristiques>
            <hdf-bloc-competences :mode="mode" :perso="perso" @nouvelle-competence="onNouvelleCompetence"></hdf-bloc-competences>
            <hdf-bloc-competences-dementielles :mode="mode" :perso="perso" @nouvelle-competence="onNouvelleCompetence"></hdf-bloc-competences-dementielles>
            <hdf-bloc-equipement :mode="mode" :perso="perso"></hdf-bloc-equipement>

        </div>
    </body>
</html>