html {
    margin: 10px;
    padding: 0;
    background-color: lightgrey;
}
body {
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    width: 400px;
    font-size: 16px;
    font-family: 'Garamond', serif;
}
input {
    padding: 0 5px;
    margin: 0;
}
label {
    width: 30%;
    display: inline-block;
}
h1 {
    font-family: 'Garamond';
}
h2 {
    font-family: 'Brush Script MT', cursive;
}
.handwritten {
    font-family: 'Caveat', cursive;
}

.abs-top-right-10 {
    position: absolute;
    top: 10px;
    right: 10px;
}


.popup {
    position: fixed;
    top:50%;
    left:50%;
    width:400px;  /* adjust as per your needs */
    height:400px;   /* adjust as per your needs */
    margin-left:-200px;   /* negative half of width above */
    margin-top:-200px;   /* negative half of height above */

    z-index: 10;
    background-color: white;
    border: 1px solid black;

    overflow: scroll;
}
.popup .contents {
    padding: 20px;
}
.voile {
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(1,1,1,.6);
    z-index: 1;
}
.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}