html {
    margin: 10px auto;
    padding: 0;
}
body {
    margin: 0 10px;
    padding: 0;
    font-size: 14px;
}
input {
    padding: 0 5px;
    margin: 0;
}
label {
    width: 30%;
    display: inline-block;
}

.popup {
    position: absolute;
    top:50%;
    left:50%;
    width:400px;  /* adjust as per your needs */
    height:400px;   /* adjust as per your needs */
    margin-left:-200px;   /* negative half of width above */
    margin-top:-200px;   /* negative half of height above */

    z-index: 10;
    background-color: white;
    border: 1px solid black;

    overflow: scroll;
}
.popup .contents {
    padding: 10px;
}

.hidden {
    visibility: hidden;
}